{% if k8s_secured %}
# Create tls-secret
---
apiVersion: v1
kind: Secret
metadata:
  name: tls-secret
  namespace: kube-system
  labels:
    app: kubernetes-dashboard
    kubernetes.io/cluster-service: "true"
type: kubernetes.io/tls
data:
  tls.crt: {{ lookup('file', k8s_pki_ingress_tls_cert_src) | b64encode }}
  tls.key: {{ lookup('file', k8s_pki_ingress_tls_key_src) | b64encode }}
{% endif %}
---
# Ingress Definition for UI
apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: kubernetes-dashboard-webui
  namespace: kube-system
  labels:
    app: kubernetes-dashboard
    kubernetes.io/cluster-service: "true"
spec:
{% if k8s_secured %}
  tls:
    - secretName: tls-secret
      hosts:
      - k8s-dashboard.{{k8s_external_domain}}
{% endif %}
  rules:
    - host: k8s-dashboard.{{k8s_external_domain}}
      http:
        paths:
          - path: /
            backend:
              serviceName: kubernetes-dashboard
              servicePort: 80
