[Unit]
Description=Kubernetes Kube-Proxy Server
Documentation=https://github.com/GoogleCloudPlatform/kubernetes
After=network.target

[Service]
EnvironmentFile=-{{k8s_conf_dir}}/config
EnvironmentFile=-{{k8s_conf_dir}}/kube-proxy
ExecStart={{k8s_install_dir}}/kube-proxy \
	    $KUBE_LOGTOSTDERR \
	    $KUBE_LOG_LEVEL \
	    $KUBE_CONFIG \
	    $KUBE_CLUSTER_ADDRESSES \
	    $KUBE_HOSTNAME_OVERRIDE \
	    $KUBE_PROXY_ADDRESS \
	    $KUBE_PROXY_ARGS
Restart=on-failure
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
