[Unit]
Description=Kubernetes Controller Manager
Documentation=https://github.com/GoogleCloudPlatform/kubernetes

[Service]
EnvironmentFile=-{{k8s_conf_dir}}/config
EnvironmentFile=-{{k8s_conf_dir}}/kube-controller-manager
User={{k8s_user}}
ExecStart={{k8s_install_dir}}/kube-controller-manager \
	    $KUBE_LOGTOSTDERR \
	    $KUBE_LOG_LEVEL \
	    $KUBE_CONFIG \
	    $KUBE_SERVICE_ADDRESSES \
	    $KUBE_CLUSTER_ADDRESSES \
	    $KUBE_CONTROLLER_MANAGER_ADDRESS \
	    $KUBE_CONTROLLER_MANAGER_PORT \
	    $KUBE_CONTROLLER_MANAGER_ARGS
Restart=on-failure
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
