###
# kubernetes system config
#
# The following values are used to configure various aspects of all
# kubernetes services, including
#
#   kube-apiserver.service
#   kube-controller-manager.service
#   kube-scheduler.service
#   kubelet.service
#   kube-proxy.service
# logging to stderr means we get it in the systemd journal
KUBE_LOGTOSTDERR="--logtostderr=true"

# journal message level, 0 is debug
KUBE_LOG_LEVEL="--v={{k8s_log_level}}"

# Should this cluster be allowed to run privileged docker containers
KUBE_ALLOW_PRIV="--allow-privileged={{k8s_allow_priv|to_json}}"

# Address range to use for services
KUBE_SERVICE_ADDRESSES="--service-cluster-ip-range={{k8s_service_cluster_ip_range}}"

# Address range to user for pods
KUBE_CLUSTER_ADDRESSES="--cluster-cidr={{k8s_pod_cluster_cidr}}"

# the local kube config
# How the controller-manager, scheduler, kubelet, and proxy find the apiserver
KUBE_CONFIG="--kubeconfig={{k8s_kubeconfig}}"

# You may leave this blank to use the actual hostname
KUBE_HOSTNAME_OVERRIDE="--hostname-override={{k8s_hostname_override|default(inventory_hostname)}}"

