KUBE_CONTROLLER_MANAGER_ADDRESS="--address={{k8s_kube_controller_manager_address}}"
KUBE_CONTROLLER_MANAGER_PORT="--port {{k8s_kube_controller_manager_port}}"
KUBE_CONTROLLER_MANAGER_ARGS="{{k8s_kube_controller_manager_args}}"

