apiVersion: v1
clusters:
- cluster:
    certificate-authority: {{k8s_pki_ca_cert_dest}}
    server: {{k8s_apiserver_secure_lb_eff}}
  name: {{k8s_cluster_name}}
- cluster:
    certificate-authority: {{k8s_pki_ca_cert_dest}}
    server: {{k8s_apiserver_cluster_ip_address}}
  name: {{k8s_internal_cluster_name}}
contexts:
- context:
    cluster: {{k8s_cluster_name}}
    user: {{k8s_user}}
  name: {{k8s_context_name}}
- context:
    cluster: {{k8s_internal_cluster_name}}
    user: {{k8s_user}}
  name: {{k8s_internal_context_name}}
current-context: {{k8s_context_name}}
kind: Config
preferences: {}
users:
- name: {{k8s_user}}
  user:
    client-certificate: {{k8s_pki_cert_dest}}
    client-key: {{k8s_pki_key_dest}}
    token: {{k8s_apiserver_token}}
